
.container{
    width: 33%;
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.6s ease;
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.25rem 0; 
    cursor: pointer;
    text-align: center;
    
}

button{
    width: 75%;
    background-color: green;
    color: #ffffff;
}


section article:hover {
    box-shadow: 0 0.1rem 1rem rgb(2, 76, 99);
}

section article h2 , section article p {
    margin: 1rem;

}